// -*- compile-command: "${COMPILE_COMMAND}"; run-command: "${RUN_COMMAND}" -*-
${PACKAGE_STMT}

/**
 *
 * @author Dominik Burgdoerfer
 * @version 1.0
 */
public class ${CLASS}
{
    /**
     * Default constructor.
     *
     * Initializes the object.
     */
    public ${CLASS}()
    {
        super();
    }

    ${CURSOR}
}
